*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
}

.img {
    display: flex;
    justify-content: center;
    outline: 2px solid red;
    height: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: antiquewhite;
    width: 600px;
}