* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

.header {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    margin: 20px auto;
    background-color: bisque;
    outline: 2px solid navy;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 40px;
}


.background {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    margin: 20px;
    background-color: bisque;
    outline: 2px solid navy;
    border-radius: 15px;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    background-color: bisque;
}

.card img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.card img:hover {
    opacity: 0.6;
}

.card p {
    margin-top: 10px;
    font-size: 30px;
    color: navy;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
